APP_NAME=luminapass
APP_PORT=3000
APP_ENV=development
APP_DEBUG=true
JWT_SECRET=your_jwt_secret_key
JSON_REQUEST_LIMIT=10mb

DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

AMQP_URL=amqp://localhost
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASS=guest